.colores > div{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.colores{
    border: 2px solid #cccccc;
    margin: 5px 0px;
}

.titulo{
    font-weight: bold;
    text-align: center;
}

.titulo > div:nth-child(1),
.titulo > div:nth-child(2){
    border-bottom: 2px solid #cccccc;
}

.titulo > div:nth-child(1){
    border-right: 2px solid #cccccc;
}

.bot{
    border-bottom: 2px solid #ccc;
}

.colores > div:nth-child(n+1) > div:nth-child(2){
    text-align: center;
}